@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    background-color: black!important;
    overflow-x: hidden;
}


/* components */

h1{
    font-size: clamp(1.25rem, 0.6944rem + 2.7778vw, 3.125rem)!important;
    color: white!important;
    font-weight: 800;
    text-transform: capitalize;
}
p{
    font-size: clamp(1rem, 0.8519rem + 0.7407vw, 1.5rem)!important;
    color: white!important;
    font-weight: 400;
    text-transform: capitalize;
}
h2{
font-size: clamp(1rem, 0.7222rem + 1.3889vw, 1.9375rem)!important;
color: white!important;
font-weight: 600;
text-transform: capitalize;
}

.primary-btn{
    background:linear-gradient(to right,#fa8405,#fb9f3cfe )!important;
    padding-inline: 27px;
    padding-block: 10px;
    border-radius: 6px;
    border: none;
    color: white;
    font: size 14px!important;
    transition: all 0.4s ease-in-out;
}
.primary-btn:hover{
    box-shadow: 0px 0px 10px #fa8405;
}





/* navbar */
nav{
    width: 75%;
}
nav .navbar-brand{
    font-size: 29px!important;
    font-weight: 800;
    color: white;
    transition: all 0.2s ease-in-out;
}


nav .container-fluid ul li a{
    color: white;
    font: size 16px !important;;
    /* margin-left: 10px; */
    transition: all 0.2s ease-in-out;
}
nav .container-fluid ul li a:hover{
    color: #fa8405;
    font: size 16px !important;;
    /* margin-left: 10px; */
}

/* banner */

.banner{
    width: 100%;
    height: 115vh;
    background-image: url(../image/banner-bg.png);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.507);
    background-blend-mode: overlay;
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.banner-main{
    width: 80%;
    height: 80%;
    /* margin-top: 5%; */
   
   
    /* flex-direction: column; */
}

.banner-main .left-container{
    width:50%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    gap: 20px;
}
.banner-main .left-container button{
    width: 55%;

}
.banner-main .right-container{
    width:50%;
    
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
/* .banner-main .right-container img{
    height: 600px;
    width: 600px;
} */



/* carousel */

.carousel{
    width: 100%;
    height: 520px;
   
}

.carousel img{
    height: 500px!important;
    width: 500px !important;
    margin: auto;
    object-fit: cover;
    object-position: center;
}

/* .carousel{
    width: 100%;
    height: 800px;
    /* position: relative; */
   



.left-carousel{
   transform: translateX(-200%);
   transition: all 0.5s ;

}
.right-carousel{
    transform: translateX(-250%);
    transition: all 0.5s ;
   
}



/* best */
.best{
    height: 600px;
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.best .best-bottom{
    margin-top: 20px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.best .best-bottom img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.best .best-bottom i{
    margin-top: 50px!important;
    font-size: 20px;
    color: white;
}

.best .best-bottom img:hover{
    /* transform: rotate3d(1, 1, 1, 360deg); */
    transform: perspective(1000px) rotateY(180deg);
    /* transform: scale3d(1.1, 1.1, 1.1); */
    box-shadow: 0px 0px 15px #fa8405;
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.4s ease-in-out;
}



/* open */
.open{
    width: 100%;
   height: 800px;
}
.open .left-container{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    transform: translateX(-200%);
    transition: all 0.5s ;
}
.open .right-container{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    transform: translateX(200%);
    transition: all 0.5s ;
}
